@use '../util' as *;

.section-container {
	max-width: rem(1100);
	margin: 0 auto;
	height: 100%;
	
	@include breakpoint('medium') {
		max-width: rem(720);
	}
	@include breakpoint('large') {
		max-width: rem(960);
	}
	@include breakpoint('large-1200') {
		max-width: rem(1140);
	}
	
}
