@use '../util' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	--ff-montserrat: 'Montserrat', sans-serif;
}

body {
	font-family: var(--ff-montserrat);
}

h1,
h2,
h3 {
	margin-top: 0;
	line-height: 1.1;
	color: var(--clr-gray-900);
}

p {
	color: rgb(129, 129, 152);
}

a,
a:visited,
a:active {
	text-decoration: none;
}
