@use '../util' as *;

.btn {
  padding: rem(10) rem(30);
  font-size: rem(12);
  font-family: var(--ff-montserrat);
  text-transform: uppercase;
  letter-spacing: rem(1);
  font-weight: 600;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;

  &--dark-border {
    border-color: var(--clr-gray-400);
    background-color: transparent;
    transition: all .15s ease-in-out;
    &:hover {
      background-color: var(--clr-green-400);
      border-color: var(--clr-green-400);
      color: var(--clr-white-100);
    }
  }
}

