@use '../util' as *;

.nav {
  width: 100%;
  position: fixed;
  margin: 0 auto;
  padding: rem(20) 0;
  background-color: var(--clr-white-100);
  
  @include breakpoint-down('small-762'){
    /* height: 100%; */
  }
  &__content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    @include breakpoint-down('small-762'){
      padding: 0 rem(20);

      /* navbar collapse */
      flex-wrap: wrap;

    }
  }
  &__logo {
    font-size: rem(18);
    font-weight: 600;
    color: var(--clr-bluegray-800);
  }
  &__list {
    display: flex;
    margin-left: auto;
    align-items: center;

    @include breakpoint-down('small-762'){
     display: none;
    }
  }
  &__item {
    
  }
  &__link {
    display: block;
    text-transform: capitalize;
    font-size: rem(13.6);
    font-weight: 600;
    color: var(--clr-gray-400);
    transition: color .2s ease-in-out;
    padding: rem(5) rem(10);
    margin-right: rem(10);

    &:hover {
      color: #8a8a8ac4;
    }
  }

  &__mobile-list {
    display: none;

    @include breakpoint-down('small-762'){
      /* display: flex; */
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      flex-basis: 100%;
      height: 80%;
    }
  }
  &__mobile-item {

  }
  &__mobile-link {
    display: block;
    text-transform: capitalize;
    font-size: rem(13.6);
    font-weight: 600;
    color: var(--clr-gray-400);
    transition: color .2s ease-in-out;
    padding: rem(5) rem(10);
   

    &:hover {
      color: #8a8a8ac4;
    }
  }
}